<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view course</title>
</head>
<body>
    <h1>Chose</h1>
    <table border="1">
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Course Time</th>
        </tr>
        {% for course_id, course_name, course_time in courses %}
        <tr>
            <td>{{ course_id }}</td>
            <td>{{ course_name }}</td>
            <td>{{ course_time }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">HOME PAGE</a>
</body>
</html>
